body, html {
    width: 100%;
}

.welcome-message{
    background-color: #f6f2f2;
    padding: 3vw;
    margin: auto;
    height: 33em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#welcome-header{
    background-color: white;
    border-radius: 10px;
}


.welcome-message a {
    text-decoration: underline;
}

a:hover{
    color:blue;
}
